<!---start-subscribe-box---->
    <!---start-grids-slider---->
    <div class="grids-slider">
        <div class="grids-slider-grid-row1-slider">
            <!---slider-catption---->
            <ul class="bxslider">
                <li><img src="images/slider1.jpg" style="max-height:352px" /><p><span>28 April,2013 <i> </i></span><label class="label1">Best story You</label><label class="label2">Have ever Heard</label></p></li>
                <li><img src="images/slider3.jpg" style="max-height:352px" /><p><span>28 April,2013 <i> </i></span><label  class="label1">Best story You</label><label class="label2">Have ever Heard</label></p></li>
                <li><img src="images/slider1.jpg" style="max-height:352px" /><p><span>28 April,2013 <i> </i></span><label  class="label1">Best story You</label><label class="label2">Have ever Heard</label></p></li>
            </ul>
            <!---slider-catption---->
        </div>
        <div class="clear"> </div>
    </div>
    <div class="clear"> </div>
    <div class="grids-slider-grid-row2">

        <div class="clear"> </div>
        <!---->
        <div class="grids-slider-grid-row3">
            <div class="grids-slider-grid-row2-grid1 grids-slider-grid-row3-grid1">


            </div>

            <div class="grids-slider-grid-row2-grid1">



            </div>
            <!--//-->
            <!---End-grids-slider---->
        </div>
        </div>
        <!---start-blog and tabs-section---->


                <!---//Blog comments and news----->



                <div class="tabs-cal-social">
                    <!---Social Tabs----->
                    <div class="big-social-icons">
                        <ul>
                            <li><a class="big-facebook" href="#"> <span>36,507 Fans</span></a></li>
                            <li><a class="big-twitter" href="#"> <span>9,136 Followers</span></a></li>
                            <li><a class="big-gplus" href="#"> <span>15,047 Fans</span></a></li>
                        </ul>
                    </div>
                    <!---//Social Tabs//----->
                    <div class="tabs-right">
                        <ul class="news-tabs">
                            <li><a href="#tab1" class="active">Populaire</a></li>
                            <li><a href="#tab2">Recent</a></li>
                            <div class="clear"> </div>
                        </ul>
                        <div id="tab1">
                            <div class="latest-news-tab-grid frist-news-grid" onclick="location.href='#';">
                                <div class="latest-news-tab-grid-pic">
                                    <img src="images/tab-img1.jpg" alt="">
                                </div>
                                <div class="latest-news-tab-grid-info">
                                    <p>In pharetra pretium convallis. Mauris sollicitudin ligula non mi hendrerit varius.,</p>
                                </div>
                                <div class="clear"> </div>
                            </div>
                            <div class="latest-news-tab-grid frist-news-grid" onclick="location.href='#';">
                                <div class="latest-news-tab-grid-pic">
                                    <img src="images/tab-img2.jpg" alt="">
                                </div>
                                <div class="latest-news-tab-grid-info">
                                    <p>Mauris sollicitudin In pharetra pretium convallis.  ligula non mi hendrerit varius.,</p>
                                </div>
                                <div class="clear"> </div>
                            </div>
                            <div class="latest-news-tab-grid second-news-grid" onclick="location.href='#';">
                                <div class="latest-news-tab-grid-pic">
                                    <img src="images/tab-img1.jpg" alt="">
                                </div>
                                <div class="latest-news-tab-grid-info">
                                    <p> convallis. In pharetra pretium Mauris sollicitudin ligula non mi hendrerit varius.,</p>
                                </div>
                                <div class="clear"> </div>
                            </div>
                            <div class="latest-news-tab-grid frist-news-grid" onclick="location.href='#';">
                                <div class="latest-news-tab-grid-pic">
                                    <img src="images/tab-img3.jpg" alt="">
                                </div>
                                <div class="latest-news-tab-grid-info">
                                    <p>mi hendrerit varius., In pharetra pretium convallis. Mauris sollicitudin ligula non </p>
                                </div>
                                <div class="clear"> </div>
                            </div>
                        </div>
                        <div id="tab2" style="display: none;">
                            <div class="latest-news-tab-grid second-news-grid" onclick="location.href='#';">
                                <div class="latest-news-tab-grid-pic">
                                    <img src="images/tab-img2.jpg" alt="">
                                </div>
                                <div class="latest-news-tab-grid-info">
                                    <p>In pharetra pretium convallis. Mauris sollicitudin ligula non mi hendrerit varius.,</p>
                                </div>
                                <div class="clear"> </div>
                            </div>
                            <div class="latest-news-tab-grid frist-news-grid" onclick="location.href='#';">
                                <div class="latest-news-tab-grid-pic">
                                    <img src="images/tab-img1.jpg" alt="">
                                </div>
                                <div class="latest-news-tab-grid-info">
                                    <p>In pharetra pretium convallis. Mauris sollicitudin ligula non mi hendrerit varius.,</p>
                                </div>
                                <div class="clear"> </div>
                            </div>
                            <div class="latest-news-tab-grid second-news-grid" onclick="location.href='#';">
                                <div class="latest-news-tab-grid-pic">
                                    <img src="images/tab-img3.jpg" alt="">
                                </div>
                                <div class="latest-news-tab-grid-info">
                                    <p>In pharetra pretium convallis. Mauris sollicitudin ligula non mi hendrerit varius.,</p>
                                </div>
                                <div class="clear"> </div>
                            </div>
                            <div class="latest-news-tab-grid frist-news-grid" onclick="location.href='#';">
                                <div class="latest-news-tab-grid-pic">
                                    <img src="images/tab-img2.jpg" alt="">
                                </div>
                                <div class="latest-news-tab-grid-info">
                                    <p>In pharetra pretium convallis. Mauris sollicitudin ligula non mi hendrerit varius.,</p>
                                </div>
                                <div class="clear"> </div>
                            </div>
                        </div>
                        <!---tabs-script----->
                        <script>
                            // Wait until the DOM has loaded before querying the document
                            $(document).ready(function(){
                                $('ul.news-tabs').each(function(){
                                    // For each set of tabs, we want to keep track of
                                    // which tab is active and it's associated content
                                    var $active, $content, $links = $(this).find('a');
                                    // If the location.hash matches one of the links, use that as the active tab.
                                    // If no match is found, use the first link as the initial active tab.
                                    $active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
                                    $active.addClass('active');
                                    $content = $($active.attr('href'));
                                    // Hide the remaining content
                                    $links.not($active).each(function () {
                                        $($(this).attr('href')).hide();
                                    });
                                    // Bind the click event handler
                                    $(this).on('click', 'a', function(e){
                                        // Make the old tab inactive.
                                        $active.removeClass('active');
                                        $content.hide();
                                        // Update the variables with the new link and content
                                        $active = $(this);
                                        $content = $($(this).attr('href'));
                                        // Make the tab active.
                                        $active.addClass('active');
                                        $content.show();
                                        // Prevent the anchor's default click action
                                        e.preventDefault();
                                    });
                                });
                            });
                        </script>
                        <!---//tabs-script----->

                    </div>
                    <!---//End-blog and tabs-section---->
                </div>
                <!---start-related-tags-social-icons---->
                <div class="r-tags-social-icons">
                    <div class="related-tags">
                        <ul>
                            <li><a href="#">Technology</a></li>
                            <li><a href="#">Club</a></li>
                            <li><a href="#">Bussiness</a></li>
                            <li><a href="#">Graphic</a></li>
                            <li><a href="#">Burger</a></li>
                            <li><a href="#">Communication</a></li>
                            <li><a href="#">Design</a></li>
                            <li><a href="#">Flat</a></li>
                            <li><a href="#">Magazine</a></li>
                            <li><a href="#">Blog</a></li>
                            <div class="clear"> </div>
                        </ul>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="clear"> </div>
                <!---//End-related-tags-social-icons---->
                <!---start-big-apgenate---->
                <div class="big-pagenate">
                    <ul class="pagenate-frist">
                        <li><a class="frist" href="#"><span> </span>First</a></li>
                    </ul>
                    <ul class="pagenate-center">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#">10</a></li>
                        <li><a href="#">..</a></li>
                        <li><a href="#">50</a></li>
                        <li><a href="#">61</a></li>
                    </ul>
                    <ul class="pagenate-last">
                        <li><a class="last1" href="#">Last <span> </span></a></li>
                        <div class="clear"> </div>
                    </ul>
                    <div class="clear"> </div>
                </div>
                <div class="clear"> </div>
                <!---End-big-apgenate---->
                <!-- No use -->
               
