<!DOCTYPE HTML>
<html>
<head>
    <title>LeCoinsDesPious | Accueil</title>
    <link href="http://localhost/LeCoinDesPious/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="http://localhost/LeCoinDesPious/web/js/jquery.min.js"></script>
    <!-- end nav -->
    <script src="http://localhost/LeCoinDesPious/web/js/login.js"></script>
    <script src="http://localhost/LeCoinDesPious/web/js/modernizr.custom.js"></script>
    <!---starrt-bx-slider---->
    <!-- bxSlider Javascript file -->
    <script src="http://localhost/LeCoinDesPious/web/js/jquery.bxslider.min.js"></script>
    <!-- bxSlider CSS file -->
    <link href="http://localhost/LeCoinDesPious/web/css/jquery.bxslider.css" rel="stylesheet" />
    <script>
        $(document).ready(function(){
            $('.bxslider').bxSlider();
        });
    </script>
    <!---End-bx-slider---->
    <!----Calender -------->
    <link rel="stylesheet" href="http://localhost/LeCoinDesPious/web/css/clndr.css" type="text/css" />
    <script src="http://localhost/LeCoinDesPious/web/js/underscore-min.js"></script>
    <script src= "http://localhost/LeCoinDesPious/web/js/moment-2.2.1.js"></script>
    <script src="http://localhost/LeCoinDesPious/web/js/clndr.js"></script>
    <script src="http://localhost/LeCoinDesPious/web/js/site.js"></script>
    <!----End Calender -------->
</head>
<body>
{% include "::menu.html.twig" %}
<section class="background-color">