<!---strat-wrap---->
<div class="wrap">
    <!---start-top-nav---->
    <div class="top-nav">
            <div class="menu">
                <!-- start top-nav-->
                <div class="cssmenu">
                    <ul>
                        <li><a href="http://localhost/roadtothesuccess/web/"><span>Accueil</span></a></li>
                        <li><a href="http://localhost/roadtothesuccess/web/blog"><span>Blog</span></a></li>
                        <li><a href="http://localhost/roadtothesuccess/web/about"><span>A Propos</span></a></li>
                        <li class="last"><a href="http://localhost/roadtothesuccess/web/contact"><span>Contact</span></a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

            <div style="float:right" class="soc_right">
                <div class="cssmenu">
                    <ul>
                        <li  class="has-sub"><a href="http://localhost/roadtothesuccess/web/profile/"><span>Votre compte</span></a>
                            <ul>
                                <li class="has-sub"><a href="http://localhost/roadtothesuccess/web/blog/ajouter"><span>Ajouter un article</span></a></li>
                                <li class="has-sub"><a href="http://localhost/roadtothesuccess/web/profile/"><span>Voir Profil</span></a></li>
                                <li class="has-sub"><a href="http://localhost/roadtothesuccess/web/profile/edit"><span>Modifier profil</span></a></li>
                                <li class="has-sub"><a href="http://localhost/roadtothesuccess/web/profile/change-password"><span>Modifier mot de passe</span></a></li>
                            </ul>
                        </li>
                        <li class="last"><a href="http://localhost/roadtothesuccess/web/logout"><span>Déconnexion</span></a></li>
                    </ul>
                </div>
            </div>
        {% else %}
            <div style="float:right" class="soc_right">
                <div class="cssmenu">
                    <ul>
                        <li><a href="http://localhost/roadtothesuccess/web/login"><span>Connexion</span></a></li>
                        <li class="last"><a href="http://localhost/roadtothesuccess/web/register/"><span>Créer un compte</span></a></li>
                    </ul>
                </div>
            </div>
        {% endif %}
        <div class="clear"></div>
    </div>
    <div class="content">