<form id="loginForm" action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    <fieldset>
        <style>
            input#remember_me{
                margin-top: -18px;
                margin-left: 50px;
            }
        </style>
        <fieldset>
            {{ form_widget(form) }}
            <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
        </fieldset>
    </fieldset>
</form>
<div class="clear"></div>