<form id="loginForm" action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    <h3>Modifier mon profil</h3>
    <fieldset>
        <fieldset>
            {{ form_widget(form) }}
            <label></label>
            <input id="login" type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
        </fieldset>
    </fieldset>
</form>
<div class="clear"></div>